[submodule "YGOPro-Custom-Cards-Scripts"]
	path = YGOPro-Custom-Cards-Scripts
	url = https://github.com/TheOnePharaoh/YGOPro-Custom-Cards-Scripts
[submodule "YGOPro-Custom-Cards-Images"]
	path = YGOPro-Custom-Cards-Images
	url = https://github.com/TheOnePharaoh/YGOPro-Custom-Cards-Images
